// ==========================================================================
// Variables
// ==========================================================================

// Theme colors
$white:                                        #fefefe;
$black:                                        #222222;
$grey:                                         #FAFAFA;
$light-grey:                                   #f6f6f6;

$primary-color:                                #92C020;
$secondary-color:                              #92C020;

$background-color:                             $white;
$border-color:                                 #dedede;

$text-color:                                   $black;
$text-color-2:                                 #7f7f7f;
$link-color:                                   $black;
$link-hover-color:                             $primary-color;

// Global Typography
$font-family:                                  Lato, sans-serif;
$font-weight:                                  300;
$font-size:                                    16;
$line-height:                                  22;

$light:                                        300;
$semibold:                                     600;
$bold:                                         700;
$extrabold:                                    800;

//navbar
$navbar-height:                                100px;

//Bootstrap overrides
$grid-gutter-width:                             40px;

// Headings
$heading-font-family:                           Lato, sans-serif;
$h1-font-size:                                  32;
$h1-line-height:                                38;
$h1-font-weight:                                400;
$h1-color:                                      #343434;
$h2-font-size:                                  26;
$h2-line-height:                                32;
$h2-font-weight:                                400;
$h2-color:                                      #343434;
$h3-font-size:                                  22;
$h3-line-height:                                28;
$h3-font-weight:                                400;
$h3-color:                                      #343434;
$h4-font-size:                                  18;
$h4-line-height:                                24;
$h4-font-weight:                                400;
$h4-color:                                      #343434;
$h5-font-size:                                  16;
$h5-line-height:                                22;
$h5-font-weight:                                400;
$h5-color:                                      #343434;
$h6-font-size:                                  14;
$h6-line-height:                                20;
$h6-font-weight:                                400;
$h6-color:                                      #343434;

// Blockquotes
$blockquote-font-family:                       Lato, sans-serif;
$blockquote-font-size:                         22;
$blockquote-line-height:                       28;
$blockquote-color:                             #424242;
$blockquote-cite-color:                        #777;

// Forms
$placeholder-color:                            #999;
$field-color:                                  #222;
$field-border-color:                           #ccc;
$field-border-color-focus:                     #f7c723;
