<!-- find/replace "bedrijfsnaam" + "adres / contactgegevens"-->

<h1>Cookiebeleid</h1>
<h2>Wat zijn cookies?</h2>
<p>Cookies zijn kleine data- of tekstbestanden die door websites op je lokale computer worden geplaatst. Dergelijke cookies kunnen verschillende doeleinden hebben: zo heb je technische cookies (bijvoorbeeld bij taalinstellingen), sessiecookies (tijdelijke cookies) en tracking cookies (cookies die je gedrag op de website gaan volgen en bijhouden, om je op die manier een meer optimale gebruikservaring te kunnen aanbieden).</p>
<h2>Welk nut hebben deze cookies?</h2>
<p>Deze website maakt gebruik van cookies om de website te helpen analyseren hoe gebruikers de site gebruiken, zodat wij onze diensten hierop kunnen afstemmen. Wij gebruiken deze informatie om bij te houden hoe u de website gebruikt, om rapporten over de website-activiteit op te stellen en andere diensten aan te bieden met betrekking tot website-activiteit en internetgebruik. Wij slaan geen informatie op die direct aan jou gerelateerd is.</p>
<h2>Hoe kan ik mijn cookies beheren?</h2>
<p>De meeste browsers zijn standaard ingesteld om cookies te accepteren, maar u kunt uw browser opnieuw instellen om alle cookies te weigeren of om aan te geven wanneer een cookie wordt verzonden. Het is echter mogelijk dat sommige functies en diensten, op onze en andere websites, niet correct functioneren als cookies zijn uitgeschakeld in uw browser.</p>
<h2>Vragen en feedback</h2>
<p>Mocht je na het lezen van deze Cookieverklaring toch nog vragen of opmerkingen hebben, kunt u contact met ons opnemen:
    </p>
<p>bedrijfsnaam <br>
    adres + contactgegevens</p>
