<!-- find/replace "bedrijfsnaam" + "adres / contactgegevens"-->


<h1>Privacybeleid</h1>

<h2>Privacybeleid bedrijfsnaam</h2>

<p>Wij zijn er van bewust dat u vertrouwen stelt in ons. Wij zien het dan ook als onze verantwoordelijkheid om uw privacy te beschermen. Op deze pagina laten we u weten welke gegevens we verzamelen als u onze website gebruikt, waarom we deze gegevens verzamelen en hoe we hiermee uw gebruikservaring verbeteren. Zo snapt u precies hoe wij werken.</p>

<p>Dit privacybeleid is van toepassing op de diensten van bedrijfsnaam. U dient zich ervan bewust te zijn dat bedrijfsnaam niet verantwoordelijk is voor het privacybeleid van andere sites en bronnen. Door gebruik te maken van deze website geeft u aan het privacy beleid te accepteren.<br>
bedrijfsnaam respecteert de privacy van alle gebruikers van haar site en draagt er zorg voor dat de persoonlijke informatie die u ons verschaft vertrouwelijk wordt behandeld.</p>

<h2>Ons gebruik van verzamelde gegevens</h2>
<h3>Gebruik van onze diensten</h3>

<p>Wanneer u ons contacteert via onze website vragen we u om persoonsgegevens te verstrekken. Deze gegevens worden gebruikt om uw vraag correct te kunnen behandelen. Wij zullen deze gegevens niet combineren met andere persoonlijke gegevens waarover wij beschikken. <br>
    Uw gegevens kunnen aangewend worden voor het verzenden van aankondigingen of promoties van bedrijfsnaam. </p>

<h3>Cookies</h3>

<p>Wij verzamelen gegevens voor onderzoek om zo een beter inzicht te krijgen in onze klanten, zodat wij onze diensten hierop kunnen afstemmen. <br>
    Deze website maakt gebruik van “cookies” (korte tekstbestanden die op uw computer worden geplaatst) om de website te helpen analyseren hoe gebruikers de site gebruiken. Wij gebruiken deze informatie om bij te houden hoe u de website gebruikt, om rapporten over de website-activiteit op te stellen en andere diensten aan te bieden met betrekking tot website-activiteit en internetgebruik.</p>

<h2>Doeleinden</h2>
<p>We verzamelen of gebruiken geen informatie voor andere doeleinden dan de doeleinden die worden beschreven in dit privacybeleid tenzij we van tevoren uw toestemming hiervoor hebben verkregen.</p>

<h2>Derden</h2>
<p>De informatie wordt niet met derden gedeeld. In enkele gevallen kan de informatie intern gedeeld worden. Onze werknemers zijn verplicht om de vertrouwelijkheid van uw gegevens te respecteren.</p>


<h2>Veranderingen</h2>

<p>Deze privacyverklaring is afgestemd op het gebruik van en de mogelijkheden op deze site. Eventuele aanpassingen en/of veranderingen van deze site, kunnen leiden tot wijzigingen in deze privacyverklaring. Het is daarom raadzaam om regelmatig deze privacyverklaring te raadplegen.</p>

<h2>Keuzes voor persoonsgegevens</h2>

<p>Wij bieden alle bezoekers de mogelijkheid tot het inzien, veranderen, of verwijderen van alle persoonlijke informatie die op moment aan ons is verstrekt.</p>

<h3>Aanpassen/uitschrijven dienst nieuwsbrief</h3>

<p>Onderaan iedere mailing vindt u de mogelijkheid om uw gegevens aan te passen of om u af te melden.</p>

<h3>Aanpassen/uitschrijven communicatie</h3>

<p>Als u uw gegevens aan wilt passen of uzelf uit onze bestanden wilt laten halen, kunt u contact met ons op nemen. Zie onderstaande contactgegevens.</p>

<h3>Cookies uitzetten</h3>

<p>De meeste browsers zijn standaard ingesteld om cookies te accepteren, maar u kunt uw browser opnieuw instellen om alle cookies te weigeren of om aan te geven wanneer een cookie wordt verzonden. Het is echter mogelijk dat sommige functies en diensten, op onze en andere websites, niet correct functioneren als cookies zijn uitgeschakeld in uw browser.</p>


<h2>Vragen en feedback</h2>

<p>We controleren regelmatig of we aan dit privacybeleid voldoen. Als u vragen heeft over dit privacybeleid, kunt u contact met ons opnemen:</p>

<p>adres / contactgegevens</p>
