.btn, [role=button], button {
    cursor: pointer;
}

.close-btn {
    font-weight: bold;
    color: $text-color-2;
    font-size: 1.2em;

    &:hover, &:active {
        color: $text-color;
    }
}

.primary-btn, button.primary-btn, input.primary-btn{
    color: $white;
    letter-spacing: .12em;
    text-transform: uppercase;
    //@include border-radius(100px);
    display: inline-block;
    background-color: $secondary-color;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: $bold;
    font-size: 0.8rem;
    padding: 0.7em 1.5em;
    width: fit-content;
    -webkit-border-top-left-radius: 25px;
    -webkit-border-bottom-right-radius: 25px;
    -moz-border-radius-topleft: 25px;
    -moz-border-radius-bottomright: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    line-height: 1.5rem;

    &:visited, &:link {
        color: $white;
    }
    &:active, &.active,
    &:hover {
        color: $text-color;
    }
}

.secondary-btn {
    @include border-radius(100px);
    display: inline-block;
    text-decoration: none;
    letter-spacing: .12em;
    text-transform: uppercase;
    font-weight: $bold;
    font-size: 0.8rem;
    padding: 1em 2em;
    width: fit-content;

    &:link, &:visited {
        background-color: $grey;
        color: $text-color;
    }

    &:active, &.active,
    &:hover {
        background-color: $text-color;
        color: $white;
    }
}

.scroll-btn {
    text-decoration: none;
    font-weight: $bold;
    width: 140px;
    position: absolute;
    bottom: 10px;
    left: calc(50% - 70px;); //half of screen - half width of element
    text-align: center;

    img{
        @include animation(1s, 5s, initial);
    }

    span {
        color: $white;
        display: block;
        text-align: center;
        font-size: 10px;
    }
}
