form{
    width: 100%;
    padding-bottom: 20px;

    #nijgFieldsnow{
        display: none;
    }
    label{
      font-weight: 600;
      margin-top: 30px;
      font-size: 1.2em;
      display: inline-block;

      &.legal {
          font-weight: 400;
          font-size: 1em;
      }

      input{
          float: left;
          width: auto;
          margin-right: 12px;

          &:first-of-type{
             //margin-top: 0px;
          }
      }
    }
    input, textarea{
      width: 100%;
      border: none;
      border-bottom: 2px solid $black;
      font-size: 1em;
      padding: 1em 1em 1em 0px;
      margin-top: 0.5em;
      letter-spacing: .12em;
      &:focus{
        border-bottom: 2px solid $primary-color;
        outline: none;
      }
  }

  .primary-btn{
    margin-top: 30px;
    display: block;
  }
}

.errors, .message.error {
    font-size: 0.8em;
    color: red;
}
.message.notice {
    font-weight: 600;
    color: $primary-color;
}

.errors {
    list-style: none;
    background-image: url("/assets/img/error.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1em;
    padding-left: 1em;
}
