.page-section {
    padding: 4em 0;
    position: relative;
}

.page-section--bg-clr {
    background-color: $grey;
    margin: 0;
    padding: 4em 0;
}

.page-section--bg-img {
    margin: 4em 0 8em;
    padding: 0;
    background-size: cover;
    background-position: center center;
}

 .page-section-pop-out {
     position:relative;
     background-color: $white;
     box-shadow: 0 0 34px -8px rgba(143,143,143,0.50);
     padding: 1.5em 2.5em 2.5em;
     top: 10em;
 }

 .page-section-bg-img-right {
     position: absolute;
     left: 50%;
     top: 0;
     width: 50%;
     height: 100%;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center center;
 }

  .page-section-bg-img-left {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 50%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
  }
