.slideshow-container {
    width: 100%;
    padding-top: 100%;
    position: relative;
    pointer-events:none;
}
.slideshow-toucharea {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events:all;
    background-image: url(/assets/img/icon-swipe.svg);
    background-repeat:no-repeat;
    background-position: center bottom 20px;
    z-index: 2;
    @include media-breakpoint-up(md) { background-image: none; }
}
.slideshow-container img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
