.tag-cloud {
    font-weight: $semibold;
    text-align: center;
    margin-bottom: 30px;

    a:link, a:visited { text-decoration: none;}
    a:hover, a:active { text-decoration: underline; }
    a.active { font-weight: $bold; color: $primary-color;}

    @include media-breakpoint-up(md) {
        margin-bottom: 60px;
    }
}
