.portfolio-item{
    border: 1px solid $border-color;
    padding: 15px;
    width: 100%;
    float: left;
    margin-top: 10px;

    //IE
    display: block;

    height: calc(100% - 30px) ;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;

    .primary-btn{
        bottom: 0;
    }

    .portfolio-item-featuredimg{
        background-size: cover;
        height: 230px;
    }

    h3{
        a{
            text-decoration: none;
        }
    }

    h4{
        margin-top: 0;
    }
}

@include media-breakpoint-up(md) {
    .portfolio-item{
        margin-top: 20px;
    }
}
