{% set pageTitle = "Planet-eco algemene voorwaarden" %}
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ pageTitle }}</title>

    {% if entry.metaDescription is defined %}<meta name="description" content="{{ entry.metaDescription }}">{% endif %}

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ siteName }}">
    <meta property="og:url" content="{{ craft.app.request.absoluteUrl }}">
    <meta property="og:title" content="{{ pageTitle }}">
    <meta property="og:description" content="{% if entry['metaDescription'] is defined and entry['metaDescription'] is not empty %}{{ entry.metaDescription }}{% endif %}">
    <meta property="og:image" content="{{ craft.app.request.absoluteUrl }}assets/img/planet-eco-1.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:locale" content="nl_BE">

    <link rel="home" href="{{ craft.app.request.absoluteUrl }}" />

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/favicons/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Muli:700" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/assets/js/script.js"></script>

</head>
<body>
<div class="container">
    <h1>Algemene verkoopsvoorwaarden</h1>
    <ol>
        <li>Deze algemene voorwaarden gelden voor de verkoop, levering en installatie van een fotovoltaïsche zonne-energie installatie (hierna de “Installatie”) op de locatie onder beheer van en aangeduid door de Koper.
        <br><br>De verkoopovereenkomst komt tot stand tussen de Koper en Planet-eco NV, met maatschappelijk zetel te 9400 Ninove, Marktstraat 1, ingeschreven in de Kruispuntbank der ondernemingen onder het nummer 0899.507.229 (hierna “Verkoper”).</li>
        <li>Offertes en prijsopgave zijn gebaseerd op de op dat moment geldende materiaal- en loonprijzen, en kunnen altijd worden aangepast indien de levering door de klant wordt uitgesteld of in geval van wijziging van nieuwe wettelijke en/of normatieve regelgeving.</li>
        <li>Een koopovereenkomst komt pas tot stand wanneer de Verkoper de bestelling en werkopdracht(en) schriftelijk aan de Koper heeft bevestigd.</li>
        <li>In geval van annulatie van de bestelling is de Koper aan de Verkoper een forfaitaire schadevergoeding verschuldigd ten belope van 20% van de waarde van de bestelling.</li>
        <li>Levertermijnen worden enkel ter inlichting verstrekt en binden de Verkoper niet. Vertraging in de levering geeft geen recht op schadevergoeding, noch op ontbinding van de overeenkomst.</li>
        <li>De vrijwaringplicht van de Verkoper m.b.t. gebreken in de geleverde goederen strekt zich niet verder uit dan deze van de leveranciers.</li>
        <li>Voor alle installaties die werden gefactureerd door de Verkoper verbindt de Verkoper er zich toe om alle nodige ondersteuning te geven in de service na verkoop met betrekking tot de fabrieksgarantie. In geval van fabrieksgarantie, zullen interventies en verplaatsing in regie worden verrekend.</li>
        <li>Alle klachten en vorderingen betreffende de Installatie dienen rechtstreeks aan de Verkoper te worden gericht overeenkomstig artikel 13 van deze algemene voorwaarden.</li>
        <li>Het risico voor goede bewaring van de goederen, gaat over op de Koper op het moment van de aflevering ter plaatse.</li>
        <li>Wanneer de Verkoper ten gevolge van overmacht, staking, lock-out e.d. niet in de mogelijkheid verkeert om de overeenkomst uit te voeren, heeft de Verkoper het recht om de overeenkomst te beëindigen zonder dat schadevergoeding kan worden geëist.</li>
        <li>Wanneer blijkt dat voorgestelde installatie niet kan voldoen aan marktconforme verwachtingen inzake opbrengst, veiligheid en duurzaamheid,  heeft de Verkoper het recht de overeenkomst te beëindigen zonder dat schadevergoeding kan worden geëist. In geval van onvoorziene complicaties die nopen tot een lager vermogen van de installatie, aanvaardt de Koper dat de Verkoper het vermogen van de installatie aanpast naar het technisch uitvoerbare en eveneens de prijs in deze verkoopovereenkomst overeenkomstig pro rata aanpast aan het verlaagde vermogen van de installatie.</li>
        <li>de Verkoper mag de overeenkomst van rechtswege en zonder voorafgaande ingebrekestelling, als ontbonden beschouwen, in geval van faillissement of kennelijk onvermogen van de Koper, alsook bij om het even welke wijziging aan de juridische toestand van de Koper.</li>
        <li>Klachten betreffende leveringen moeten uitsluitend bij de Verkoper schriftelijk of per fax (+32 2 888 9695) toekomen, binnen het etmaal na levering en alleszins vooraleer de goederen gebruikt of doorverkocht worden, vergezeld van de bemerkingen op de (kopij van de) vervoersdocumenten.</li>
        <li>Protest tegen facturen moet schriftelijk gebeuren, gericht t.a.v. Planet-eco NV, Marktstraat 1, B-9400 Ninove, en dit binnen de 5 dagen na factuurdatum met vermelding van datum en nummer van de factuur.</li>
        <li>Alle eindfacturen dienen betaald te worden binnen de 10 dagen na factuurdatum, tenzij anders overeengekomen (en vermeld op factuur).</li>
        <li>Indien een factuur niet is vereffend binnen de gestelde termijn, zal vanaf de vervaldag van rechtswege en zonder voorafgaande ingebrekestelling een forfaitaire vergoeding verschuldigd zijn van 10% van het factuurbedrag (met een minimumbedrag van 100 euro voor administratie. Onkosten verbonden aan onbetaalde wissels of cheques, evenals andere inningskosten, zijn in deze forfaitaire schadevergoeding niet inbegrepen, en vallen ten laste van de klant. Bij niet- of laattijdige betaling houden de Verkoper zich het recht voor elke samenwerking stop te zetten. De daaruit verloren administratieve kosten, verplaatsingen of werkzaamheden, zullen dan door de Koper worden vergoed. Tevens behoudt de Verkoper zich het recht voor om de overeenkomst van rechtswege en zonder voorafgaande ingebrekestelling als ontbonden te beschouwen voor het geheel of het nog niet uitgevoerde gedeelte.</li>
        <li>Zolang de geleverde goederen niet werden betaald, blijven zij eigendom van de Verkoper, en kunnen zij teruggeëist worden. De goederen kunnen zonder meer door de Verkoper of onderaannemers teruggehaald worden, ook als die reeds bevestigd zijn op een gebouw, de grond of voertuig. De extra kosten voor demontage komen daarbij ten laste van de Koper. Verder zijn alle voordelen m.b.t. de geplaatste installaties, waaronder maar niet limitatief, de opbrengsten van groenestroomcertificaten, premies en subsidies, geproduceerde elektrictiteit ten voordele van de Verkoper en de Verkoper kan deze direct bij de bevoegde instanties innen of verhalen op de klant.</li>
        <li>Bij werkzaamheden op hoogte, maakt de Verkoper gebruik van een goedgekeurde stelling en/of hoogtewerkers en veiligheidsvoorzieningen. de Verkoper behoudt zicht het recht voor de werken te stoppen, indien de Koper de aangereikte veiligheidsvoorzieningen weigert, waarbij de extra kosten ervoor zullen aangerekend worden, samen met de verloren werktijd en verplaatsingskosten. Bij werken op gebouwen zal de Koper tijdig de nodige informatie en planning doorgeven aan de veiligheidcoördinator en bevestigen dat alles volgens de regels is.</li>
        <li>De Koper is verantwoordelijk voor het verlenen van toegang en de juiste en tijdige uitvoering van alle inrichtingen, voorzieningen en/of voorwaarden, die noodzakelijk zijn voor het leveren en/of installeren van goederen. De Koper zal ook zorgen dat de installateurs kunnen beschikken over 230V werkspanning.</li>
        <li>De Koper is verantwoordelijk voor de keuring en goede werking van de bestaande elektriciteitsinstallatie vóór het aanvangen van de werken, met in het bijzonder de voorziening van een goede aarding en voor niet-residentiële toepassingen het balanceren van zijn verbruik. In geval de installatie door de onafhankelijke keuringsinstantie wordt afgekeurd, zullen alle bijkomende kosten voor het in regel brengen van de elektrische installatie ten laste zijn van de Koper alsook de herkeuring(en), indien de keurder bevestigt dat de installatie van de Verkoper correct werd geplaatst volgens de geldende normen en regels en de afkeuring dus te maken heeft met de betaande situatie vóór aanvang van de werken. Van zodra de Installatie wordt goedgekeurd door de onafhankelijke keuringsinstantie, wordt de Installatie beschouwd als volledig opgeleverd. De Verkoper is niet verantwoordelijk voor verlaagd rendement of productieverlies t.g.v. derde partijen (netbeheerder, elektriciteitsmaatschappij etc), door onder andere werken aan het net, overspanning op het net, niet terugdraaiende teller etc.  Eventuele optimalisatie, analyses en meerwerken  in dergelijke gevallen aan de Installatie na keuring vallen buiten het bestek van deze verkoopsovereenkomst.</li>
        <li>De Verkoper kan op geen enkele manier verantwoordelijke gesteld worden voor de Installatie in geval er door derden, niet aangesteld door de Verkoper, wijzigingen of veranderingen worden aangebracht of er sprake is van hulp bij montage.</li>
        <li>De Verkoper gaat ervan uit dat de huidige dakconstructie en dakgoten geen (al dan niet verborgen) gebreken vertonen en in goede staat zijn bij aanvang van der werken. De installatie van zonnemodules beïnvloedt de dakgesteldheid niet. Planet-eco garandeert voor een periode van 10 jaar na installatiedatum dat de dichtheidsgraad en stevigheidsgraad van het dak  gelijksoortig is als vóór de installatie van de fotovoltaïsche modules. In geval van pannen of leien dak, dient de Koper vóór installatie te zorgen dat minimaal 5 reservepannen of leien beschikbaar zijn voor vervanging tijdens installatie in geval van accidentele breuk. Indien deze niet beschikbaar zijn tijdens installatie, en hiervoor een extra verplaatsing dient ingepland te worden, zal dit gebeuren in regie aan 40 euro/uur (voor werken ter plaatse + verplaatsingstijd).</li>
        <li>de Verkoper levert alle vereiste, officiële documenten waaronder, maar niet limitatief, facturen, fiscale bijlagen, keuringsverslag, subsidieaanvragen, eenmalig af aan de Koper. De Koper bevestigt door ondertekening dat alle informatie (naam, adres etc) zoals vermeld in deze verkoopsovereenkomst correct is en kan  gebruikt worden voor aanmaak van deze officiële documenten. De Koper is verantwoordelijk voor correcte financiering en betaling. De Verkoper is op geen enkele wijze verantwoordelijk voor de door de klant aangegane financieringsvorm en bijhorende voorwaarden. Duplicaten en/of heropmaak van facturen en bijlagen of andere documenten worden enkel bezorgd tegen voorafbetaling van een bijkomende administratieve meerprijs van 10 euro per stuk.</li>
        <li>Het Belgisch recht is exclusief van toepassing op alle verkoopovereenkomsten met de Verkoper. In geval van betwisting is uitsluitend de rechtbank van Dendermonde bevoegd.</li>
    </ol>
    <p><a href="/">Terug</a></p>
</div>

</body>
</html>
