{% set pageTitle = entry.title %}
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ pageTitle }}</title>

    {% if entry.metaDescription is defined %}<meta name="description" content="{{ entry.metaDescription }}">{% endif %}

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ siteName }}">
    <meta property="og:url" content="{{ craft.app.request.absoluteUrl }}">
    <meta property="og:title" content="{{ pageTitle }}">
    <meta property="og:description" content="{% if entry['metaDescription'] is defined and entry['metaDescription'] is not empty %}{{ entry.metaDescription }}{% endif %}">
    <meta property="og:image" content="{{ craft.app.request.absoluteUrl }}assets/img/planet-eco-1.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:locale" content="nl_BE">

    <link rel="home" href="{{ craft.app.request.absoluteUrl }}" />

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/favicons/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Muli:700" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="/assets/js/script.js"></script>


    <!-- Global site tag (gtag.js) - Google Analyticss -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93840025-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-93840025-5');
    </script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-XXXXX-Y', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>

<div class="page-container">
    <div class="cookie-msg">
        <div class="cookie-msg-content">We gebruiken cookies om uw ervaring op deze website te verbeteren. Lees meer in ons <a class="acceptCookieStatement" href="/cookiebeleid"> cookiebeleid</a>.</div>
        <button class="btn close-btn acceptCookieStatement">✕</button>
    </div>
<section class="page-section eyecatcher" style="background-image:url('/assets/img/autumndeal-eyecatcher.jpg')">

    <div class="container">
        <a href="" class="brand"></a>

        {{ entry.tagline }}
    </div>

</section>

<section class="page-section">
    <div class="page-section-bg-img-left"
         style="background-image:url('/assets/img/planet-eco-leaf-icon.svg'); background-size: 60%; background-position: bottom left;"></div>
    <div class="page-section-bg-img-right"
         style="background-image:url('/assets/img/atumndeals-intro2.jpg'); background-position: 1px;"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h2>{{ entry.sectie1Titel }}</h2>
                {{ entry.sectie1Tekst }}
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section--bg-img"
         style="background-image:url('/assets/img/autumndeal-section2.jpg');">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 offset-md-6 page-section-pop-out">
                {{ entry.sectie2Tekst }}

                <a href="#contact" class="btn primary-btn" onclick="gtag('event', 'click', {'event_category': 'CTA','event_label': 'Contacteer ons call-to-action'})">Contacteer ons</a></div>
        </div>
    </div>



</section>

<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <img src="{{url('/assets/img/autumndeals-article.jpg')}}" alt="">
                <h2>{{ entry.sectie3Titel }}</h2>
                {{ entry.sectie3Tekst }}
            </div>
            <div class="col-xs-12 col-sm-6">
                <img src="{{url('/assets/img/autumndeals-article2.jpg')}}" alt="">
                <h2>{{ entry.sectie4Titel }}</h2>
                {{ entry.sectie4Tekst }}
            </div>
        </div>
    </div>

</section>

<section class="page-section">
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-12 col-sm-4">
                <img src="/assets/img/sustainability.svg" alt="Verwarmen">
                <h3>Duurzame oplossing</h3>
                <p>{{ entry.sectie5Duurzameoplossing }}</p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <img src="/assets/img/solar-energy.svg" alt="Warm water">
                <h3>Eigen elektriciteitsvoorziening</h3>
                <p>{{ entry.sectie5Eigenelektriciteitsvoorziening }}</p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <img src="/assets/img/save-money.svg" alt="Koelen">
                <h3>Goedkopere elektriciteit </h3>
                <p>{{ entry.sectie5GoedkopereE }}</p>
            </div>
        </div>
    </div>
</section>

<section class="page-section page-section--bg-clr">
    <div class="container">
        <h2>{{ entry.sectie6Titel }}</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                {{ entry.sectie6TekstCol1 }}
            </div>
            <div class="col-xs-12 col-sm-6">
                {{ entry.sectie6TekstCol2 }}
            </div>
        </div>

    </div>
</section>

<section class="page-section page-section--img-left page-section--contact" id="contact">

    <div class="container">
        <div class="row">
            <div class="page-section-bg-img-left"
                 style="background-image:url('/assets/img/contact-section.jpg');width: 46%;">
            </div>
            <div class="col-xs-12 col-sm-6 offset-sm-6">
                <h2>Contact</h2>

                {% macro errorList(errors) %}
                    {% if errors %}
                        <ul class="errors">
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endmacro %}

                {% if craft.app.session.hasFlash('notice') %}
                    <p class="message notice">{{ craft.app.session.getFlash('notice') }}</p>
                    <script>
                    $(document).ready(function(){
                        gtag('event', "form_submit", {'event_category': "sign_up",'event_label': "Autumndeal form signup"});
                    });
                    </script>
                {% elseif craft.app.session.hasFlash('error') %}
                    <p class="message error">{{ craft.app.session.getFlash('error') }}</p>
                {% endif %}

                {% from _self import errorList %}

                <form method="post" action="#contact" id="form" accept-charset="UTF-8">
                    {{ csrfInput() }}
                    <input type="hidden" name="action" value="contact-form/send">
                    {{ redirectInput('#contact') }}

                    <label for="from-name">Naam</label>
                    <input id="from-name" type="text" name="fromName" value="{{ message.fromName ?? '' }}" placeholder="Vul hier uw naam in">
                    {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
                    <label for="phone">Telefoon</label>
                    <input type="text" id="phone" name="message[Telefoon]" placeholder="Vul hier uw telefoonnummer in">
                    <label for="from-email">E-mail</label>
                    <input id="from-email" type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}" placeholder="Vul hier uw e-mailadres in">
                    {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
                    <label for="message">Bericht</label>
                    <textarea rows="4" id="message" name="message[body]">{{ message.message.body ?? '' }}</textarea>
                    {{ message is defined and message ? errorList(message.getErrors('message')) }}

                    <label for="privacy" class="legal"><input type="checkbox" required>Ik ga akkoord met de <a href="http://www.planet-eco.be/Privacyverklaring">privacy notice</a></label>
                    <label for="" class="legal"><input type="checkbox" required>Ik ga akkoord met de <a href="/algemene-voorwaarden">algemene voorwaarden</a></label>
                    <input type="submit" value="verzenden" class="btn primary-btn">
                </form>
            </div>
        </div>
    </div>

</section>

<footer>
    <div class="container">
        <img src="/assets/img/planet-eco-logo-transparant.png" alt="logo Planet-eco" class="footer-brand">
        <p><a href="/algemene-voorwaarden">Algemene voorwaarden</a> | <a href="http://www.planet-eco.be/Privacyverklaring">Privacybeleid</a> | <a href="/cookiebeleid">Cookiebeleid</a></p>
        <p>&copy; Planet-eco 2018</p>
        <div class="social">
        <a href="https://www.instagram.com/planet_eco_ninove/" target="_blank"><i class="instagram"></i></a>
            <a href="https://www.facebook.com/pg/Planet-eco-437816869619985" target="_blank"><i class="facebook"></i></a>
        </div>
    </div>
</footer>

</div>

</body>
</html>
