*,
:after,
:before {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    background-color: $background-color;
    color: $text-color;
}

*::selection {
    background: $primary-color;
    color: $background-color;
}

a {
    &:link,
    &:visited {
        color: $link-color;
    }

    &:active,
    &:hover {
        color: $link-hover-color;
    }
}

p {
    width: 100%;
}
