input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"],
button {
    border: none;
    background: none;
    padding: 0;
}


ul {
    padding-left: 0;
    margin-left: 0;
}
li {
    margin-left: 1em;
}
