html {
    //base font sizes, set font-sizes in rem
    //example: h1 { font-size: 1.5rem }
    font-size: 12px;
    letter-spacing: 0.12em;
    line-height: 1.5em;
    font-family: $font-family;
    font-weight: $font-weight;

    @include media-breakpoint-up(xs) { font-size: 12px; }
    @include media-breakpoint-up(sm) { font-size: 14px; }
    @include media-breakpoint-up(md) { font-size: 16px; }
    @include media-breakpoint-up(lg) { font-size: 18px; }
    @include media-breakpoint-up(xl) { font-size: 21px; }
}

*, :after, :before {
    // font rendering
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
    font-weight: 300;
    margin: 2em 0;
    line-height: 1.5em;
}

h2 {position:relative;}
h2::before {
    content: "";
    background-color: $primary-color;
    width: .8em;
    height: 1px;
    position: absolute;
    left: -1.4em;
    top: .7em;
}
h3 {
    font-weight: 600;
}

button, input, optgroup, select, textarea {
    font-family: $font-family;
    letter-spacing: 0.12em;
}
