.eyecatcher{
    @include clearfix;
    height: 100vh;
    min-height: 480px;
    background-position: center center;
    background-size: cover;
    position:relative;
    strong { color: $primary-color; }
    h1 {
        font-family: Muli, sans-serif;
        font-size: 1.8em;
        color: $white;
        letter-spacing: 1.17px;
        text-shadow: 0 0 5px rgba(0,0,0,1);
        margin-top: 7em;
    }
    &::after {
        content: " ";
        background-color: $white;
        width: 2px;
        height: 3em;
        position:absolute;
        bottom: 0;
        left:calc(50% - 1px);
    }
}


.eyecatcher .brand {
    display: block;
    background-image: url("/assets/img/planet-eco-logo.png");
    background-size: 86%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fff;
    width: 12em;
    height: 6em;
}

.page-section--contact {
    padding: 0;
}


@include media-breakpoint-down(xs) {

    .page-section--contact .page-section-bg-img-left, .page-section-bg-img-right {
        position: relative;
        height: 400px;
        width: 100% !important;
        left: 0;
    }
}
