.cookie-msg {
    border-bottom: 1px solid $border-color;
    text-align: left;
    padding: 15px;
    color: $text-color-2;
    //display: flex;
    display:none;
    justify-content: space-around;
    align-items: stretch;
    background-color: $background-color;
}
.cookie-msg .cookie-msg-content {
    font-size: 12px;
    width: calc(100% - 30px);
    margin-left: 30px;
    text-align: center;
}
.cookie-msg .close-btn {
    font-size: 15px;
    flex: 0 0 30px;
}
