footer {
    background-color: $grey;
    font-weight: 400;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
    font-size: .8em;

    img{
        width: 30%;
    }

    a{
        text-decoration: none;
    }

    .social{
        text-align: center;
        .facebook, .instagram{
            height: 25px;
            width: 25px;
            display: inline-block;
            background-size: contain;
            background-repeat: no-repeat;
            margin: 0 auto;
        }
        .facebook {
            background-image: url('/assets/img/facebook-letter-logo.svg');
        }
        .instagram {
            background-image: url('/assets/img/icon-instagram.svg');
        }
    }

}

.footer-brand {
    width: 140px;
}

@include media-breakpoint-up(md) {
    footer{
        text-align: left;

        .footer-brand {
            float: left;
            margin-right: 30px;
        }

        .social{
            //position: absolute;
            margin-top: -40px;
            //right: 30px;
            float: right;
            //margin: 0;
        }

        p{
            margin: 0 auto;

            &:first-of-type{
                margin-top: 5px;
            }
        }
    }
}
