.navbar {
    z-index: 5000;
    height: $navbar-height;
    border-bottom: 1px solid $border-color;
    background-color: $background-color;
    @include clearfix();

    &.navbar--fixed {
        top: 0;
        position: fixed;
        width: 100%;
    }

    &.navbar--fixed-in {
        transform: translateY(0);
    }

    &.navbar--fixed-out {
        transform: translateY(-$navbar-height);
    }

    &.navbar--fixed-animate {
        transition: 0.5s;
    }
}

@include media-breakpoint-down(sm) {
    .navbar>.container{
        margin: 0;
        padding: 0;
        max-width: 100%;
    }
}

.navbar-brand {
    background-image: url("/assets/img/wildly-mild-logo.svg");
    background-size: 140px;
    background-position: left 50%;
    background-repeat: no-repeat;
    height: $navbar-height;
    width: calc(100% - 40px);
    display: block;
    float: left;
}

.navbar-header>.container {
    height: 0;
}

.navbar-toggle {
    //position: fixed;
    width: 40px;
    margin: calc((#{$navbar-height} - 40px) / 2) 0;
    border-radius: 100%;
    //background-color: $text-color;
    border: 2px solid transparent;
    padding: 11px 8px;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    z-index: 9000;

    .icon-bar {
        display: block;
        background-color: $text-color;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        float: right;
        transition: transform 0.2s;

        &+.icon-bar {
            margin-top: 4px;
        }

        &:nth-child(2) {
            width: 18px;
        }

        &:nth-child(4) {
            width: 14px;
        }
    }

    &:not(.collapsed) {
        //background-color: $text-color;
        //border: 2px solid $background-color;
        padding: 14px 8px;

        .icon-bar:nth-child(2) {
            width: 22px;
            transform: translate(1px, 3px) rotate(45deg);
            //background-color: $background-color;
        }

        .icon-bar:nth-child(3) {
            width: 0;
            //background-color: $background-color;
        }

        .icon-bar:nth-child(4) {
            width: 22px;
            transform: translate(1px, -3px) rotate(-45deg);
            //background-color: $background-color;
        }
    }
}

.navbar-collapse {
    //z-index: 8000;
    background-color: $text-color;
    //position: fixed;
    //top: #{$navbar-height};
    height: 0;
    width: 100%;
    overflow-x: visible;

    &.collapse {}

    &.collapsing {
    }

    &.collapse.show {
        left: 0;
        height: calc(100vh - #{$navbar-height});
        overflow: scroll;
    }
}

.navbar-collapse-container {
    height: calc(100vh - #{$navbar-height});
}

.navbar-collapse-header {
    display: none;
}

.navbar-collapse-header .navbar-brand {
    /*
    height: 100%;
    width: 100%;
    background-image: url("/assets/img/wildly-mild-logo-white.svg");
    background-position: 50% 50%;
    //*/
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.navbar>ul {
    margin: 2em 0;
}

.navbar-nav {
    li {
        width: 100%;
        position: relative;
    }

    & > li {
        border-bottom: 1px dotted $background-color;
    }

    li a {
        display: block;
        height: 40px;
        line-height: 40px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }

}

.navbar-subnav-toggle {
    padding: 0 15px;
    border-left: 1px dotted $text-color-2;
    position: absolute;
    top: 0;
    right: 0;

    &:hover:after {
        position: relative;
        top: 0;
        left: 0;
        background-color: transparent;
        color: $primary-color;
    }

    &:after {
        font-family: Fontawesome;
        font-size: 0.8em;
        color: $secondary-color;
        content: "\f077";
    }

    &.collapsed:after {
        content: "\f078";
    }
}

.navbar-subnav {
    & ul > li > a {
        border-top: 1px dotted $text-color-2;
    }
}
@include media-breakpoint-up(md) {
    .navbar {
        &.navbar--fixed {
            top: 0;
            position: fixed;
            width: 100%;
        }

        &.navbar--fixed-in {
            transform: translateY(0);
        }

        &.navbar--fixed-out {
            transform: translateY(-$navbar-height);
        }

        &.navbar--fixed-animate {
            transition: 0.5s;
        }
    }

    .navbar-brand {
        width: 200px;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-collapse {
        background-color: inherit;
        position: inherit;
        width: auto;
        width: calc(100% - 200px);
        float: right;

        &.collapse {
            display: block;
        }
    }


    .navbar-header>.container {
        padding: 0;
    }

    .navbar-collapse-container {
        height: inherit;
        padding: 0;
    }

    .navbar>ul {
        margin: 0;
    }

    .navbar-nav {
        text-align: right;

        li {
            display: inline-block;
            width: auto;
            height: $navbar-height;
            padding: 10px;
            //border-right: 1px solid $border-color;
            border-bottom: none;
            &:last-child {
                padding-right: 0;
            }
        }

        li a {
            display: inline-block;
            height: 100%;
            line-height: $navbar-height - 19px;
        }

        .navbar-subnav-toggle {
            position: relative;
            top: auto;
            right: auto;
            border-left: none;
        }
    }

    .navbar-subnav {
        position: absolute;
        top: $navbar-height;
        left: 0;
        width: 200px;
        color: $background-color;
        background-color: $text-color;

        & ul li {
            width: 100%;
            height: auto;
            padding: 0;
            &:not(:first-child){
                border-top: 1px dotted $text-color-2;
            }
        }

        & ul li a {
            width: 100%;
            text-align: left;
            font-size: 0.9em;
            line-height: 1em;
            padding: 10px;
            border: none;

            &:link,
            &:visited {
                color: $background-color;
            }

            &:active,
            &:hover {
                color: $primary-color;
            }
        }
    }
    .navbar-subnav .navbar-subnav-subitem {
        padding-left: 20px;
        &:before {
            content: "- ";
            position: absolute;
            height: 100%;
            top: 8px;
            font-weight: normal;
            color: white;
        }
    }
}
